/*  City of Lamoni Colors

	Red:      rgb(154, 27, 39)
	Yellow:   rgb(215, 161,38)
	Cyan:     rgb(74,93,119)
	Cyan-drk: rgb(34,136,153)
	Grey:     rgb(235,235,235)
	White:    rgb(255,255,255)
*/
@import url('https://fonts.googleapis.com/css?family=Lato|Patua+One|Indie+Flower');


*, *:before, *:after{
	box-sizing: border-box;
}


body{ background-color: rgb(235,235,235);
	font-family: "Lato", sans-serif; color: rgb(74,93,119);
}

nav{ /* Total Height: 70px = 15 + 5 + 20 + 20 */
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 0 3vw;
	background-color: rgb(74,93,119);
}

a{ text-decoration: none; color: rgb(215, 161,38);}

nav a {
	color: white;
	font-size: 20px;
	font-family: 'Patua One', sans-serif; 
	text-decoration: none;
	padding: 0 7;
	line-height: 60px;
	display: inline-block;
}


nav a:hover{
	background-color: rgb(154, 27, 39);
}

nav .active{
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid White;
	border-right: 5px solid White;
	border-radius: 15px;
	text-decoration: underline;
	line-height: 50px;
}

.outter-content {
	margin: auto;
	width: 94%;
	height: calc( 100vh - 80px );
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
}

header, .h2-wrapper{
	background-color: rgb(215, 161,38) /*rgb(154, 27, 39)*/;
	display: block;
	width: 100%;
	border-radius: 0px 5px;
	margin-top: 4px;
	margin-bottom: 30px;
}

.tag{font-size: .75em; font-family: "Indie Flower", cursive; transform: rotate(-2deg); display: inline-block; color: rgb(154, 27, 39);}

h1,h2{
	color: rgb(34,136,153);
	font-family: "Patua One", sans-serif;
	background-color: white;
	font-size: 30px;
	line-height: 30px;
	display: inline-block;
	padding: 5 20;
	margin: 0 15 5 15;
	width: 100%;
	border-radius: 0px 5px;
}

.h2-wrapper{background-color: rgb(74,93,119); width: 50%;}

h2{font-size: 24px; line-height: 24px; font-family: "Patua One"; color: rgb(154, 27, 39); width: 150%;}


.text{margin: 0px 10px ; max-width: 700px; line-height: 190%; font-size: 18px; display: inline-block;}
.img{margin-left:20px; margin-bottom: 20px; min-width: 200px; min-height: 200px; width: 25vw; height: 25vw; display: inline-block; }

.gracelandImg{background-image: url("graceland.jpg"); background-size: cover;}

iframe{margin: 20px;}




