/* .parallax[options] - Defines the area in which to allow parallax scrolling.
			-y  - scrolls in the y direction (default)
			-x  - scrolls in the x direction
*/

*, *:before, *:after{
	box-sizing: border-box;
}

.demo-wrapper{
	outline: 1px dashed black;
	margin: auto;
	margin-top: 12.5vh;
	overflow: visible;
	
	width: 75vw;
	height: 75vh;
}
/*.demo-wrapper .parallax-y{outline: 1px solid blue;}*/


.parallax, .parallax-y, .parallax-x {
	perspective     : 1px;
	transform-style : preserve-3d;
	background-color: cornflowerblue;
	height: inherit;
	width: inherit;
}

.parallax, .parallax-y{
	overflow-x  : hidden;
	overflow-y  : auto;
}

.parallax-x{
	overflow-x  : auto;
	overflow-y  : hidden;
	width: 100%;
}

/* .parallax_slide*/
.parallax_slide{
	position: relative;
	background-color: white;
	height: inherit;
	width: inherit;
	border: 20px solid green;
}
.parallax_slide_layer, .parallax_slide_layer-bg, .parallax_slide_layer-mid, .parallax_slide_layer-fg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax_slide_layer-bg{
	transform: translateZ(-1px) scale(2);
}
.parallax_slide_layer-mid{
	transform: translateZ(0px) scale(1);
}
.parallax_slide_layer-fg{
	transform: translateZ(1px) scale(1);
}