@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Oswald|Raleway');

*, *:before, *:after{
	box-sizing: border-box;
}

body{font-family: "Oswald", sans-serif;}

header{padding: 20px; text-align: center;}
h1{font-family: "Fjalla One", serif;}
h2{text-align: center; font-size: 30px;}
p{display: block; margin: 0px 20px; font-size: 24px; line-height: 200%;}
nav{margin: 0px 20px 0px 20px;}
nav a { font-size: 24px; display: inline-block; background-color: #545E4A; color: #E8FCDE; padding: 6px 5px 6px 5px; text-decoration:  none;}
nav a:hover{background-color: #A6C0F7;}
nav .active{background-color: #F26E6E; padding-bottom: 26px;}

strong{padding: 5px;}

.bg-white {background-color: #E8FCDE;}
.white            {           color: #E8FCDE;}
                  
.bg-black         {background-color: #545E4A;}
.black, h1        {           color: #545E4A;}
                  
.bg-green         {background-color: #10B181;}
.green            {           color: #10B181;}
                  
                  
.bg-blue          {background-color: #A6C0F7;}
.blue, strong, h2 {           color: #A6C0F7;}

.bg-red           {background-color: #F26E6E;}
.red, .mini, p    {           color: #F26E6E;}



.red::-moz-selection,  .mini::-moz-selection, p::-moz-selection {background-color: #F26E6E; color: #E8FCDE;}
.red::selection,       .mini::selection,      p::selection      {background-color: #F26E6E; color: #E8FCDE;}

.black::-moz-selection, h1::-moz-selection     {background-color: #545E4A; color: #E8FCDE;}
.black::selection,     h1::selection     {background-color: #545E4A; color: #E8FCDE;}

.bg-black::-moz-selection, nav a::-moz-selection  {background-color: #E8FCDE; color: #545E4A; border: 1px solid #545E4A;}
.bg-black::selection, nav a::selection {background-color: #E8FCDE; color: #545E4A; border: 1px solid #545E4A;}

.bg-red::-moz-selection, .active::-moz-selection {background-color: #E8FCDE; color: #F26E6E; border: 1px solid #F26E6E;}
.bg-red::selection     , .active::selection      {background-color: #E8FCDE; color: #F26E6E; border: 1px solid #F26E6E;}

.blue::-moz-selection, strong::-moz-selection, h2::-moz-selection      {background-color: #A6C0F7; color: #E8FCDE;}
.blue::selection,  strong::selection, h2::selection         {background-color: #A6C0F7; color: #E8FCDE;}


.rotate    {display: inline-block; transform: rotate(9.5deg);}

.mini{font-size: 1.6rem;}

#gameScore, #gameTime{
	color: #A6C0F7;
	font-size: 80px;
}

