@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Oswald|Raleway');

*, *:before, *:after{
	box-sizing: border-box;
}

body{font-family: "Oswald", sans-serif;}

header{padding: 20px; text-align: center;}
h1{font-family: "Fjalla One", serif;}
h2{text-align: center; font-size: 30px;}
p{display: block; margin: 0px 20px; font-size: 24px;}
nav{margin: 0px 20px 0px 20px;}
nav a { font-size: 24px; display: inline-block; background-color: #545E4A; color: #E8FCDE; padding: 6px 5px 6px 5px; text-decoration:  none;}
nav a:hover{background-color: #A6C0F7;}
nav .active{background-color: #F26E6E; padding-bottom: 26px;}

.bg-white  {background-color: #E8FCDE;}
.white     {           color: #E8FCDE;}

.bg-black  {background-color: #545E4A;}
.black     {           color: #545E4A;}

.bg-green  {background-color: #10B181;}
.green     {           color: #10B181;}


.bg-blue   {background-color: #A6C0F7;}
.blue      {           color: #A6C0F7;}





.bg-red    {background-color: #F26E6E;}
.red       {           color: #F26E6E;}

.red::-moz-selection    {background-color: #F26E6E; color: #E8FCDE;}
.red::selection         {background-color: #F26E6E; color: #E8FCDE;}

.black::-moz-selection  {background-color: #545E4A; color: #E8FCDE;}
.black::selection       {background-color: #545E4A; color: #E8FCDE;}

.blue::-moz-selection  {background-color: #A6C0F7; color: #E8FCDE;}
.blue::selection       {background-color: #A6C0F7; color: #E8FCDE;}

.Lgreen::-moz-selection {background-color: #98F5BC; color: #E8FCDE;}
.Lgreen::selection      {background-color: #98F5BC; color: #E8FCDE;}

.rotate    {display: inline-block; transform: rotate(9.5deg);}

.mini{font-size: 1.6rem;}

